# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Results
results/F*/*.png
results/F*/*.txt
results/logs/

# Environments
.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db
